body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('profile-picture.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

.profile {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.profile-pictures img {
  width: 150px;
  height: 150px;
  object-fit:contain;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-pictures img:last-child {
  margin-right: 0;
}
.profile-pictures img:hover {
  border: 2px solid #333;
}
.profile-pictures {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .profile-pictures img {
    width: 100px;
    height: 100px;
  }
}


h1 {
  font-size: 24px;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bolder;
  color: chartreuse;
}

.profile-bio h2,
.profile-skills h2 {
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  margin-left: 20px;
  color: darkgoldenrod;
}
body {
  background-image: url('https://pbs.twimg.com/media/FvbyjQoX0AExR1o?format=jpg&name=4096x4096');
  background-size: cover;
  background-position: center;
  opacity: 200px;
}
p {
  color: #000000;
  font-size: 19px;
  line-height: 1.5;
}
