body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('profile-picture.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

.profile {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.profile-pictures img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.profile-bio h2,
.profile-skills h2 {
  margin-bottom: 10px;
}

ul {
  list-style: disc;
  margin-left: 20px;
}
